services:
  # nim-page-elements:
  #   container_name: nim-page-elements
  #   image: ${NIM_PAGE_ELEMENTS_IMAGE:-nvcr.io/nim/nvidia/nemoretriever-page-elements-v2:1.5.0}
  #   # profiles: ["nim"]
  #   ports:
  #     - "${NIM_PAGE_ELEMENTS_HTTP_PORT:-7999}:8000"
  #     - "${NIM_PAGE_ELEMENTS_GRPC_PORT:-8001}:8001"
  #     - "${NIM_PAGE_ELEMENTS_METRICS_PORT:-8002}:8002"
  #   environment:
  #     - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES:-all}
  #     - NVIDIA_DRIVER_CAPABILITIES=${NVIDIA_DRIVER_CAPABILITIES:-compute,utility}
  #     # - NGC_API_KEY=${NGC_API_KEY:-}
  #     # - NVIDIA_API_KEY=${NVIDIA_API_KEY:-}
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities: [gpu]

  nim-ocr:
    container_name: nim-ocr
    image: ${NIM_OCR_IMAGE:-nvcr.io/nim/baidu/paddleocr:1.5.0}
    # profiles: ["nim"]
    ports:
      - "${NIM_OCR_HTTP_PORT:-8009}:8000"
      - "${NIM_OCR_GRPC_PORT:-8010}:8001"
      - "${NIM_OCR_METRICS_PORT:-8011}:8002"
    environment:
      - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES:-all}
      - NVIDIA_DRIVER_CAPABILITIES=${NVIDIA_DRIVER_CAPABILITIES:-compute,utility}
      - NGC_API_KEY=${NGC_API_KEY:-}
      - NVIDIA_API_KEY=${NVIDIA_API_KEY:-}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  # nim-yolox-table:
  #   container_name: nim-yolox-table
  #   image: ${NIM_YOLOX_TABLE_IMAGE:-nvcr.io/nim/nvidia/nemoretriever-table-structure-v1:1.5.0}
  #   # profiles: ["nim"]
  #   ports:
  #     - "${NIM_YOLOX_TABLE_HTTP_PORT:-8006}:8000"
  #     - "${NIM_YOLOX_TABLE_GRPC_PORT:-8007}:8001"
  #     - "${NIM_YOLOX_TABLE_METRICS_PORT:-8008}:8002"
  #   environment:
  #     - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES:-all}
  #     - NVIDIA_DRIVER_CAPABILITIES=${NVIDIA_DRIVER_CAPABILITIES:-compute,utility}
  #     # - NGC_API_KEY=${NGC_API_KEY:-}
  #     # - NVIDIA_API_KEY=${NVIDIA_API_KEY:-}
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities: [gpu]

  # nim-yolox-chart:
  #   container_name: nim-yolox-chart
  #   image: ${NIM_YOLOX_CHART_IMAGE:-nvcr.io/nim/nvidia/nemoretriever-graphic-elements-v1:1.5.0}
  #   # profiles: ["nim"]
  #   ports:
  #     - "${NIM_YOLOX_CHART_HTTP_PORT:-8003}:8000"
  #     - "${NIM_YOLOX_CHART_GRPC_PORT:-8004}:8001"
  #     - "${NIM_YOLOX_CHART_METRICS_PORT:-8005}:8002"
  #   environment:
  #     - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES:-all}
  #     - NVIDIA_DRIVER_CAPABILITIES=${NVIDIA_DRIVER_CAPABILITIES:-compute,utility}
  #     # - NGC_API_KEY=${NGC_API_KEY:-}
  #     # - NVIDIA_API_KEY=${NVIDIA_API_KEY:-}
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities: [gpu]